body{
  background: none;
}

.card-title {
  margin-bottom: 0.75rem;
  white-space: nowrap;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
  white-space: nowrap;
}

a.view_detail {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

.list-group-item{
  background: none;
}

.card-detail{
  padding:5px;  
  text-align: center;
}

.card-detail .card-name{
  padding:5px;
  font-size:36px;
  font-weight: bold;
  margin-bottom:10px;
  border-bottom:1px solid #808080;
}

.card-detail .card-image{
  padding:5px;
  margin-left: auto;
  margin-right: auto;
}

.card-detail .card-image img{
  width:95%;
  text-align: center;
}

.card-how-many{
  font-size: 16px;
  font-weight: bold;
}

.card-description {
  margin-top:20px;
  background-color:#FFFFFF;
  border:1px solid #808080;
  padding:10px;
  font-size:20px
}

.card-description input {
  margin-top:5px;
}

.card-description .card-qty{
  width:10%;
  margin-left: auto;
  margin-right:auto;
}

.card-attributes{
  margin-top:10px;
  margin-left:auto;
  margin-right: auto;
  width:400px;
}

.card-attributes .card-attribute{
  padding:5px;
  margin:5px;
  text-transform: capitalize;
  color:#FFFFFF;
}

@media (min-width: 576px) {
	.card-square{
    padding:1%;
	}

  .card-container{
    background-color: #FFFFFF;
  }

  .card-body{
  }
}

@media (min-width: 992px) {
  .card-square{
    padding:1%;
	}

  .card-container{
    background-color: #FFFFFF;
  }

  .card-body{
  }
}

@media (min-width: 1200px) {
  .card{
    margin-left:4%;
    margin-right:4%;
    margin-bottom:4%;
	}
}

.card-container .card-image{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.footer{
  height:100px;
}

.nomargin{
  margin:0;
}

.footer-left{
  margin:2%;
}

.footer-right{
  margin:2%;
}

.text-red {
  color: #E74C3C;
}

#product_paging{
  float:right;
}

#product_paging li{
  margin-right:5px;
}

.form-container {
  margin-top:10px;
  margin-bottom:10px;
}

.btn-input{
  margin-top:20px;
}

.login-title{
  margin-top:10px;
  margin-bottom:20px;
  text-align: center;
}

.modal {
  max-width:90%;
  overflow:auto;
  font-size:12px;
  max-height:90%;
  height:auto;
}

.modal .form-control, table, input{
  overflow:auto;
  font-size:12px;
}

.modal a.close-modal {
  top: 5px;
  right: 5px;
}

.cart_table {
  width:100%;
  border-collapse: collapse;
  
}

.cart_table td, .cart_table th{
  border: 1px solid #808080;
  padding: 5px;
}

.cart{
  margin-bottom:30px;
}

.register-caption{
  margin-top:50px;
}